<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Spot</title>
    <link rel="stylesheet" href="./css/newfeed.css" />
  </head>
  <body>
    {{#if message}}
      <script>
        alert("{{message}}");
      </script>
    {{/if}}

    {{! render Name of User }}
    {{#if NameOfUser}}
      <script>
        const Nameofuser = document.getElementById("NameOFUser");
        Nameofuser.style.display = "block"; Nameofuser.innerText = '{{NameOfUser}}'
      </script>
    {{/if}}

    {{! Render Posts }}
    <div class="Container_posts">
      {{#each posts}}
        <a class="post" href="/newfeed/{{id}}">
          <div class="Header_Post">
            <p class="userName">
              <i class="fa-solid fa-circle-user"></i>
              {{firstName}}
              {{lastName}}
            </p>
            <p class="location">
              <i class="fa-solid fa-location-dot"></i>
              {{location}}
            </p>
          </div>

          {{!-- <p class="userId">User ID: {{userId}}</p> --}}
          <p class="title">{{title}}</p>

          {{!-- <p class="content">Content: {{content}}</p> --}}
          {{#if image}}
            <img src="{{image}}" alt="Post Image" class="image" />
          {{/if}}
        </a>
      {{/each}}

    </div>
    <script src="/js/app.js"></script>
  </body>
</html>